@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

a {
  all: unset;
}

ul {
  all: unset;
}

button {
  all: unset;
}

body {
  font-family: "Roboto";
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.header .header-arrow {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1440px;
  margin: auto;
}
.header .header-logo {
  width: 100%;
}

.images {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.menu {
  border-radius: 60px 60px 0 0;
  background: #F6F6F6;
  padding: 20px;
  margin-top: -20px;
  position: relative;
}

.restaurant-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant-title .menu-title {
  font-family: "Shrikhand", cursive;
}

.heart {
  font-size: 1.6em;
  padding-right: 1rem;
  height: 18px;
  width: 16px;
  display: flex;
  position: relative;
  justify-content: center;
}
.heart > .far + .fas {
  position: absolute;
}
.heart > .fas {
  opacity: 0;
  color: #F6F6F6;
  transition: 0.2s ease-in-out;
}
.heart:hover .far {
  opacity: 0;
  transition-duration: 0.2s;
}
.heart:hover > .fas {
  transform: scale(1.2);
  display: flex;
  position: absolute;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s ease-in-out;
  background-image: linear-gradient(to top right, #9356DC, #F6F6F6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
}
.container .title {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}
.container .menu-title-underline {
  width: 48px;
  height: 3px;
  background-color: #99E2D0;
  margin: 0px 0 1.2rem 0;
}
.container .entrée {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 20px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: movecards 2s ease;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateY(0);
}
.menu-list .menu-h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}
.menu-list .menu-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-list .menu-text .menu-p {
  font-size: 15px;
  font-weight: 200;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}
.menu-list .menu-text .menu-price {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  margin: 0;
  padding-right: 11px;
  transition: transform 0.3s ease;
}
.menu-list .menu-check {
  position: absolute;
  right: -30px;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  padding: 0 20px;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  height: 100%;
}
.menu-list .menu-check .menu-check-icon {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99e2d0;
  background: white;
  padding: 7px 6px 6px 6px;
  border-radius: 50%;
}

.menu-list:hover .menu-check {
  right: 0;
  opacity: 1;
  animation: showIcon 0.3s ease;
}

.menu-list:hover {
  cursor: pointer;
}

.menu-list:hover .menu-h3,
.menu-list:hover .menu-p {
  width: 50%;
  text-overflow: ellipsis;
}

.menu-list:hover .menu-price {
  transform: translateX(-100%);
}

.main-button-1 {
  display: flex;
  justify-content: center;
}
.main-button-1 .main-button {
  color: white;
  padding: 15px;
  justify-content: center;
  background: linear-gradient(#ff79da 0%, #9356DC 100%);
  display: flex;
  border-radius: 30px;
  margin-top: 20px;
  width: 50%;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}

.main-button:hover {
  opacity: 0.8;
}

.footer {
  background-color: #353535;
  color: #F3F3F3;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.footer .footer-title {
  font-family: shrikhand, cursive;
}
.footer .footer-title .footer-1 {
  display: flex;
  align-items: center;
  margin: 10px 5px;
}

.footer-1 .fa-solid {
  margin-right: 10px;
}

@keyframes movecards {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes showIcon {
  0% {
    right: -30px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@media screen and (min-width: 700px) {
  .menu {
    width: 60%;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-1 {
    margin-right: 60px;
  }
  .header-arrow .fa-solid {
    font-size: xx-large;
  }
  .footer-title {
    margin-right: 30px;
  }
  .container-menu {
    display: flex;
    justify-content: center;
  }
}
.plat {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 20px;
}

.dessert {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-list:nth-child(1) {
  animation: fadeIn 1s ease-in-out 0s 1 forwards;
}

.menu-list:nth-child(2) {
  animation: fadeIn 1s ease-in-out 1s 1 forwards;
}

.menu-list:nth-child(3) {
  animation: fadeIn 1s ease-in-out 2s 1 forwards;
}

.menu-list:nth-child(4) {
  animation: fadeIn 1s ease-in-out 3s 1 forwards;
}

.menu-list {
  opacity: 0;
}

/*# sourceMappingURL=menu.css.map */
