@import "../Components/header";
@import "../Components/footer";
@import "../Components/main_button";
@import "../Components/restaurant_card";
@import "../Utils/variables";
@import "../Utils/normalize";

.footer{ 
    background-color: $grey;
    color: $white;
}

.header  { 
    display: flex;
    justify-content: center;
    padding: 20px;
}

.header-logo  { 
   width: 50%;
 }

a { 
   all: unset;
}

ul { 
    all: unset;
 }

 .location  { 
    display: flex;
    justify-content: center;
    background-color: $greytwo;
    padding: 20px;
    font-size: 16px;
  }